<div class="sidebar">
    {{tag-create}}
    {{#each tags as |tag|}}
        {{tag-link tag=tag}}
    {{/each}}
</div>

<div class="content">
    {{note-create}}
    {{#each notes as |note|}}
        {{note-tile m=note}}
    {{/each}}
</div>

{{outlet}}
